/* Navbar.module.css */
.navbar {
  --navbar-height: 60px;
  height: var(--navbar-height);
  background-color: rgb(248, 247, 247);
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

/* Prevent page from scrolling when the menu is open */
.no-scroll {
  overflow: hidden;
}

.navbar h1,
.navbar h2 {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: rgb(88, 88, 88);
  font-weight: 600;
  text-decoration: none;
}

.active-nav-link {
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .header {
    width: 100%;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    height: 100%;
  }

  .links {
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    z-index: 999;
  }

  .links.show {
    height: calc(100vh - var(--navbar-height));
  }

  .menu-toggle {
    display: flex;
  }
}
