.App {
  text-align: center;
}

.hero-info-container {
  flex: 1;
  box-sizing: border-box;
  width: 100vw;
  /* margin: -2; */
}

.hero-info-container-row {
  height: 100%;
  width: 100vw;
  /* margin: -2; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: var(--two);
  /* background-color: #3498db; */
}
