/* Import the modern font with multiple weights */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* index.css */

/* Ensure the body takes the full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #f8f9fa; Set the background color */
  font-family: "Inter", sans-serif; /* Modern font */
}
